*.eep
*.elf
*.hex
*.lst
*.map
*.o
*.sym
*.lst
*lss
Makefile
/build
CNC.xcodeproj
Info.plist
applet
PkgInfo
main.scpt
applet.icns
applet.rsrc
TXT.rtf
TWI_Slave.o.d
TWI_Slave.lss
Hallo.sh
AVR_Tem.c
teensy_loader_cli
teensy_loader_cli.c
Teensy_Loader.scpt
runavarice.sh

